<!DOCTYPE html>
<html>
  <head>
    <title>DemocraticEdTools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="drawer_left" content="closed">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <div class="grid_layout" id="grid-layout">
    <%= render "layouts/navbar" %>
      <%= render "layouts/nav_drawer_left" %>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    <div class="grid_main">
      <div class="grid_content content">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </div>
  <%= render "layouts/turbo_confirm" %>
</body>

</html>
