<!DOCTYPE html>
<html>
  <head>
    <title>DemocraticEdTools</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <div class="grid_layout">
    <%= render "layouts/navbar" %>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= render "layouts/left_nav_drawer" %>
    <div id="nav_drawer_left_overlay" data-controller="toggle-left-nav-drawer" data-action="click->toggle-left-nav-drawer#toggle"></div>
    <div class="grid_main">
      <div class="grid_content content">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </div>
  <%= render "layouts/turbo_confirm" %>
</body>

</html>
