<%= simple_form_for [:media_time, @media_time] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :time_limit %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
