<%= turbo_stream_from "apps" %>
<div class="container-title">
  <h1>Apps</h1>
</div>
<div class="container-content">
  <%= turbo_frame_tag App.new %>
  <%= turbo_frame_tag "apps" do %>
    <%= render "user_manager/apps/empty_state" %>
    <%= render @apps %>
  <% end %>
</div>