<%= turbo_frame_tag membershiplevel do %>
  <div class="card">
    <div class="card-title">
      <%= membershiplevel.name.titleize %>
    </div>
    <div class="card-content">
      <% membershiplevel.users.order(name: :asc).each do |user| %>
        <%= user.name.titleize %><%= "," if user != membershiplevel.users.order(name: :asc).last %>
      <% end %>
    </div>
    <div class="card-content">
      <% membershiplevel.roles.order(name: :asc).each do |role| %>
        <%= role.name.titleize %><%= "," if role != membershiplevel.roles.order(name: :asc).last %>
      <% end %>
    </div>
      <div class="card-actions">
        <% if policy(membershiplevel).destroy? %>
          <%= button_to "Löschen", [:user_manager, group, membershiplevel], form: { data: { turbo_confirm: "Möchtest du das Mitgliedschaftslevel #{membershiplevel.name.titleize} wirklich löschen?" } }, method: :delete, class: "btn btn-red mr-2"%>
        <% end %>
        <% if policy(membershiplevel).update? %>
          <%= link_to "Bearbeiten", [:edit, :user_manager, group, membershiplevel], class: "btn btn-yellow" %>
        <% end %>
    </div>
  </div>
<% end %>