<div class="form__group multiselect">
  <%= form.label :Rollen, class: "form-label"%>
  <div class="multiselect_selected_items_wrapper" id="membershiplevel_<%= membershiplevel.id %>_selected_roles"></div>
  <div class="multiselect_wrapper"
       data-multiselect-elements-value="<%= multiselect_elements_value %>"
       data-multiselect-names-value="<%= multiselect_names_value %>"
       data-multiselect-targetid-value="membershiplevel_<%= membershiplevel.id %>_selected_roles"
       data-controller="multiselect">

    <%= form.collection_check_boxes :role_ids, roles, :id, :name do |b| %>
      <%= label_tag "membershiplevel_#{membershiplevel.id}_role_ids_#{b.object.id}", class: 'multiselect_item' do %>
        <%= b.check_box(id: "membershiplevel_#{membershiplevel.id}_role_ids_#{b.object.id}",
                        class: "checkbox multiselect_checkbox",
                        "data-action": "multiselect#update_selection") %>
        <%= b.object.name.titleize %>
      <% end %>
    <% end %>
  </div>
</div>