<div class="multiselect mb-4">
  <div class="multiselect_selected_items_wrapper" id="membershiplevel_<%= membershiplevel.id %>_selected_users"></div>
  <div class="multiselect_wrapper"
       data-multiselect-elements-value="<%= multiselect_elements_value %>"
       data-multiselect-names-value="<%= multiselect_names_value %>"
       data-multiselect-targetid-value="membershiplevel_<%= membershiplevel.id %>_selected_users"
       data-controller="multiselect">
    <%= form.collection_check_boxes :user_ids, users, :id, :name do |b| %>
      <%= label_tag "membershiplevel_#{membershiplevel.id}_user_ids_#{b.object.id}", class: 'multiselect_item' do %>
        <%= b.check_box(id: "membershiplevel_#{membershiplevel.id}_user_ids_#{b.object.id}",
                        class: "checkbox multiselect_checkbox",
                        "data-action": "multiselect#update_selection") %>
        <%= b.object.name.titleize %>
      <% end %>
    <% end %>
  </div>
</div>