<div>

  <div class="card">
    <div class="card-title">
      User
    </div>
    <div class="card-content">
      <%= turbo_frame_tag "pin_generator_#{user.id}" do%>
      Pin: <%= user.pin %>
      <%= link_to "edit",  user_manager_pin_generator_path(user), class: "btn btn-yellow"%>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      Medienzeit
    </div>
    <%= render "media_time/media_times/media_time", media_time: user.media_time %>
  </div>

  <div class="card">
    <div class="card-title">
      Login-Status
    </div>
    <div class="card-content">
      <%= render "media_time/logins/status", media_time: user.media_time %>
    </div>
  </div>

</div>
