<%= simple_form_for [:user_manager, group], html: {clasS: "form"} do |f| %>
   <div class="card-content" >
     <%= form_error_notification(group) %>
     <%= f.input :name, input_html: { autofocus: true } %>
   </div>
  <div class="card-actions">
    <%= link_to "Abbrechen", user_manager_groups_path, class: "btn btn-red mr-2" %>
    <%= f.submit class: "btn btn-green" %>
  </div>


<% end %>