<%= simple_form_for room, html: {clasS: "form"} do |f| %>
   <div class="card-content" >
     <%= form_error_notification(room) %>
     <div class="list-item">
       <%= f.input :name, input_html: { autofocus: true } %>
       <div class="list-item-append">
         <%= link_to icon("fa-solid", "xmark"), rooms_path, class: "btn btn-red mr-2" %>
         <%= button_tag icon("fa-solid", "floppy-disk"), type: "submit", class: "btn btn-green"  %>
       </div>
     </div>

   </div>



<% end %>